 body{
    margin: 0;
    font-size: 19px;
    font-family: "Avenir", sans-serif;
    background: #FFF;
    line-height: 1.4;
    color: #000;
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
 h4{
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }
img{
    width: 100%;
    height: 100%;
}
a{
    color: #3F3F3F;
    text-decoration: none;
}
ul{
    list-style: none;
}

.img_yellow img :hover{
  
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.home-message {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background: rgba(90, 90, 90, 0.6); }
    .home-message .close-message {
      position: absolute;
      right: 10px;
      top: 10px;
      color: #3F3F3F;
      font-size: 25px;
      cursor: pointer; }
    .home-message .home-message-content {
      position: relative;
      background: #FFF;
      width: 95%;
      top: 50vh;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin: auto;
      padding: 20px;
      color: #3F3F3F;
      max-height: 90vh;
      overflow: scroll; }
      .home-message .home-message-content a {
        font-family: "Bebas", sans-serif;
        font-size: 21px; 
        color: #3F3F3F; }
        .home-message .home-message-content a:hover {
          color: #000; }
      .home-message .home-message-content h3 {
        font-family: "Bebas", sans-serif;
        font-size: 21px; }

h1{
    font-size: 3rem;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 500;
    font-family: "LMDLD", sans-serif;
    color: #3F3F3F;
}
/*************** NAv BAr ********************/
.nav_bar_hidden{
 
    border-left: 8px solid black;
    padding-left: 2%;
    margin-top: 1%;
}
.nav_bar_hidden span{
    font-size: 0.75em;
    margin-right: 1%;
}
.nav_bar_hidden  span:not(:last-child):after {
  
     margin-left: 10px !important; 
  content: "///";
 }

 .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    
}
.menu-btn_burger {
    width: 50px;
    height: 3px;
    background: black;
    
    
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: black;
    

    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}
/* ANIMATION */
.menu_btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu_btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu_btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
 















.menu_btn {
    display: block;
    position: relative;
    margin: 0px;
    cursor: pointer;
    height: 24px;
    width: 35px; }
   .menu_btn:hover span {
      background: #000; }
   .menu_btn:hover span.menu_text {
      color: #000; }
   .menu_btn span {
      display: block;
      background: #3F3F3F;
      height: 3px;
      width: 35px;
      position: absolute;
      -webkit-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
   .menu_btn span:nth-child(1) {
      top: 0px; }
   .menu_btn span:nth-child(2) {
      top: 10px; }
   .menu_btn span:nth-child(3) {
      top: 20px; }
   .menu_btn .transparent {
      opacity: 0; }
   .menu_btn .rotate-top {
      -webkit-transform: rotatez(45deg);
      -ms-transform: rotate(45deg);
      transform: rotatez(45deg);
      -webkit-transform-origin: 0%;
      left: 2px; }
   .menu_btn .rotate-bottom {
      -webkit-transform: rotatez(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotatez(-45deg);
      -webkit-transform-origin: 15%; }
   .menu_btn span.menu_text {
      height: auto;
      width: auto;
      font-size: 18px;
      background: transparent;
      top: 25px;
      color: #3F3F3F; }
/*************** END NAv BAr ********************/
/* .ul_venir{
    display:flex;
    list-style: none;
} */
.flex-row div:not(:last-child):after {
    content: "///";
    /* margin-left: 10px; */

 }/*
.body_img img{
    height: 90px;
    width: 30%;;
}
.all_main{
    overflow: hidden;
}
.ul_img{
    display: flex;
    list-style: none;
    margin: 0;
}
.ul_img li{
    width: 33.33%;
    float: left;
}
.ul_img li img{
    width:100%;
}

  
/********************************** Main  IMAGE   *********************/
.img_black{
    background-color: transparent;
   -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    height: 100%;
}
.yellow_img{
    top: -34% !important;
    
      right: 16px !important;
      left: 20% !important;
}
.img_yellow{
    opacity: 27%;
width: 100%;
}
.text_abosult {
    text-align: center;
    font-size: 2em;
    color: white;
    width: 100%;
}
.edit_absolut{
    width: 100%;
    top: 54% !important;

}
.edite_height{
    padding-left: 0 !important;;
    padding-right: 0 !important;;
    height: 74vh!important;
}
/* .color_abosult{
    background-color: transparent;

    left: 29%;
    top: 41%;
    position: absolute;
}
.cadr_titre_edite{
    font-family: "Bebas", sans-serif;
    font-size: 2em;
    text-shadow: 0px 0px 4px #333;
    text-align: center;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: xx-large;
    overflow: hidden;
} */
/**********************************  END Main  IMAGE   *********************/

/**********************************  END Footer   *********************/
.socialnetworks {
    text-align: left;
    font-family: "Bebas", sans-serif;
    margin-top: 10px; }
 .socialnetworks ul {
     list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
  .socialnetworks ul li a {
        color: #3F3F3F;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        margin-right: 10px;
        font-size: 18px; }
    .socialnetworks ul li a:hover {
          color: #000; }

.bebas {
    font-family: "Bebas", sans-serif;
}
.footer{
    font-family: "Avenir", sans-serif;
    letter-spacing: 0.02em;
}
.footer {
    background: #fff200;
    padding: 20px 20px;
    font-family: "Avenir", sans-serif;
    letter-spacing: 0.02em;
    width: 100%; }
    .footer h1 {
      font-size: 19px;
      margin: 0;
      color: #000; }
    .footer p, footer a {
      margin: 0;
      font-size: 14px; }




/************************************ billetterie-et-pass-illimite.html **************************************/
.breadcrumb{
    padding: 20px 40px 10px;
    font-size: 13px;
}
.breadcrumb ul{
  display: flex;
}
.breadcrumb ul li:not(:first-child) :before{
    content: '>>';
    margin-left : 5px;
    margin-right : 5px;
  }

  .text_item h4{
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
  }
  .last_word_in_page{
      float: right;
      padding-right: 3%;
      padding-bottom: 3%;
  }

  .compagnie{
          /* font-size: 19px; */
          font-size: 12px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    color: #737373;
    margin-bottom: 0;
    padding: 0;
  }
  .compagnie_h4{
   font-size: 19px; 
  
color: #3F3F3F;
font-family: "Bebas", sans-serif;
letter-spacing: 0.05em;
margin-bottom: 10px;
color: #737373;
margin-bottom: 0;

}
.day_item{
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin: 10px 0px 20px 0;
}
.jaune{
    background: #fff200;
    padding: 0 3px;
}
.hours_item{
    margin-top: 0;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    color: #3F3F3F;
}
  .text_items_plus p{  font-size: 17px;
  padding-top: 0;
  margin-top: 0;}
  .text_item span{
    color: #737373;
  }
  .text_item h3{
    font-size: 19px;
    color: #3F3F3F;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    margin: 10px 0px 20px 0; 

    
  }
  .buttons_item{
    background: #fff200;
    color: #3f3f3f;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.02em;
    
  }

  .buttons_item a{
    color: #3F3F3F;
   
  }

  .archives_center{
    background: yellow;
    padding: 13px;
    background: #fff200;
    padding: 5px 10px 3px;
    font-family: "Bebas", sans-serif;
    letter-spacing: 0.05em;
    color: #3F3F3F;
  }



/************************************* ************************************/
.details p{
    font-size: 18px;
    font-family: "Lato", sans-serif;
}
.details h3{
    font-family: "LMDLD", sans-serif;
    margin-top: 7%;
    color: #737373;
}



/************************************* Pain Maudit ***********************************/

