@font-face {
    font-family: 'LMDLD';
    src: url('LMDLD.woff2') format('woff2'),
        url('LMDLD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url('BebasNeue.woff2') format('woff2'),
        url('BebasNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextCondensed-Bold.woff2') format('woff2'),
        url('AvenirNextCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextCondensed-BoldItalic.woff2') format('woff2'),
        url('AvenirNextCondensed-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextCondensed-Italic.woff2') format('woff2'),
        url('AvenirNextCondensed-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('AvenirNextCondensed-Regular.woff2') format('woff2'),
        url('AvenirNextCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Font Awesome 5 Brands';
    src: url('fa-brands-400.woff2') format('woff2'),
        url('fa-brands-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



